.sq-btn {
	position: relative;
	display: inline-flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	
	padding: 0.5rem 1rem;
	box-sizing: border-box;
	background-color: rgb(68, 170, 221);
	
	color: white;
	font-size: 0.75rem;
	font-family: var(--button-font), var(--primary-font), var(--secondary-font), sans-serif;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.04rem;
	text-decoration: none;

	border: unset;
	cursor: pointer;
	overflow: hidden;
	user-select: none;
	z-index: 0;

	transition:
		filter 1s cubic-bezier(0.06, 0.81, 0, 0.98),
		transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.sq-btn::before,
.sq-btn::after {
	content: "";
	position: absolute;
	display: block;

	width: 0;
	height: 0;
	top: 100%;
	right: 5%;

	border-style: solid;
	border-width: 0 50px 100px;
	border-color: transparent transparent rgb(102, 204, 255);
	z-index: -1;

	will-change: transform;

	animation:
		sq-btn-trig-anim 8s linear 0s infinite;
}

.sq-btn::after {
	left: -10%;
	border-color: transparent transparent rgb(41, 154, 190);
	transform: scale(0.8);
	animation-duration: 4.5s;
	animation-delay: 0.8s;
}

.sq-btn.triBg::before,
.sq-btn.triBg::after {
	content: unset;
	display: none;
}

.sq-btn.triBg > .triangleBackground {
	z-index: -1;
}

.sq-btn > icon {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	flex-shrink: 0;

	margin: 0 0 0 10px;
	line-height: 20px;
}

.sq-btn > icon.left {
	justify-content: flex-start;

	margin: 0 10px 0 0;
	order: -1;
}

.sq-btn > icon::after,
body.dark .sq-btn > icon::after {
	color: white;
}

.sq-btn.empty > icon {
	margin: unset;
}

.sq-btn > .simpleSpinner {
	position: absolute;
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	--color: white;
}

.sq-btn[data-loading="true"] > .simpleSpinner {
	display: block;
}

.sq-btn[data-loading="true"] > .text,
.sq-btn[data-loading="true"] > icon {
	visibility: hidden;
}

.sq-btn[data-style="round"] {
	padding: 0.5rem 1rem;
	border-radius: 6rem;
}

.sq-btn[data-style="round"]:focus {
	outline: none;
}

.sq-btn[data-style="big"] {
	padding: 1rem;
	border-radius: 0.45rem;
}

.sq-btn[data-style="big"]:focus {
	outline: none;
}

.sq-btn[data-style="flat"] {
	padding: 14px;
	border-radius: 4px;
}

.sq-btn[data-style="flat"]::before,
.sq-btn[data-style="flat"]::after {
	content: unset;
	display: none;
}

.sq-btn[data-style="flat"] > .triangleBackground {
	display: none;
}

@keyframes sq-btn-trig-anim {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-160px);
	}
}

.sq-btn:hover {
	filter: brightness(1.2);
}

.sq-btn:active {
	transition:
		filter 1s cubic-bezier(0.06, 0.81, 0, 0.98),
		transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	
	transform: scale(0.9);
}

.sq-btn:focus {
	outline: solid rgba(36, 36, 36, 0.6) 1px;
}

body.dark .sq-btn:focus {
	outline: solid rgba(228, 228, 228, 0.6) 1px;
}

.sq-btn:disabled {
	filter: brightness(0.6);
	cursor: not-allowed;
}
